datasets==3.6.0           # Used by all files
langchain-text-splitters  # Used by ii_chunking.py
transformers              # Used by ii_chunking.py
nltk                      # Used by ii_chunking.py
langchain_experimental    # Used by ii_chunking.py
langchain_huggingface     # Used by ii_chunking.py
sentence-transformers     # Used by ii_chunking.py
openai                    # Used by iii_dense_indexing.py
rank-bm25                 # Used by iii_bm25_indexing.py
# An OpenAI key in a file called openai_key.txt
dict
sentence-transformers     # Used by vi_cross_encoder_reranking.py
matplotlib